* {
    margin: 0;
}

#header-container {
    background-color: #9CD6F5;
    height: 80px;
}

#header-logo {
    height: 40px;
    margin: 0 auto;
    padding: 20px;
}

main {
    margin: 20px 20px;
}

h1 {
    font-size: 25px;
}

#author-name {
    font-size: 15px;
    color: gray;
}

.sspan-lightblue {
    color: #7FA6FC;
}

#article-date {
    font-size: 10px;
    color: gray;
}

figure img {
    margin: 20px 0 0 0;
    height: 240px;
}

.photo-info {
    font-size: 10px;
}

section {
    margin: 20px 0;
}

.span-yellow {
    background: yellow;
}

ul {
    margin: 20px 0;
}